@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* shared styles */
.container{
    max-width: 1280px;
    margin: 0 auto;
}

.btn-primary{
    background: rgb(221, 0, 0);
    color: rgb(255, 255, 255);;
    padding: 16px 25px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10px;
    border: none;
}

.btn-secondary{
    background-color: #ffffff;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    padding: 4px 18px;
}

/* banner styles */
.banner{
    background: rgb(22, 22, 22);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    border-radius: 30px;
    margin: 4rem auto;
}

.banner-content{
    /* max-width: 650px; */
    padding: 111px 80px;
}

.banner-title{
    font-size: 4rem;
   font-weight: bold;
    line-height: 5rem;
}

.banner-desc{
    font-size: 16px;
    font-weight: 400;
    margin: 25px 0px;
}

 .banner img{
    display: block;
}

/* upcoming matches */
.upcoming-matches{
    display: flex;
    padding: 50px 0;
    gap: 20px;
}

.upcoming-matches-left{
    background:black;
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
    border-radius: 10px;
}

.upcoming-matches-left .btn:nth-child(1), .btn:nth-child(2){
    background-color: white;
    color: black;
}

.upcoming-matches-right{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 17px;
}

.card{
    border: 1.14px solid rgb(232, 232, 232);
    border-radius: 12px;
}

.card img{
    height: 180px;
    width: 100%;
    border-radius: 12px 12px 0 0;
    margin-bottom: 22px;
}

.card-body{
    padding: 20px;
}

.card-bottom{
    display: flex;
    gap: 20px;
    color: #161616cc;
}